@using txo.intranet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="container">
                    <div class="login-sec">
                        <div class="login-form-sec">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <ul class="reset">
                                <li>
                                    @*<input class="email-field text-box single-line" id="EmailAddress" name="EmailAddress" placeholder="Email" value="" type="text">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "email-field text-box single-line", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @*<input class="password-field text-box single-line" id="Password" name="Password" placeholder="Password" value="" type="text">*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "password-field text-box single-line", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @*<input class="check" value="Remember Password" type="checkbox">Remember Password<a href="/Account/ForgotPassword/"><span>Forgot Password</span></a>*@
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "check" })
                                    @Html.LabelFor(m => m.RememberMe)

                                    @Html.ActionLink("Forgot Password", "ForgotPassword", null, new {@style = "float: right"})
                                </li>
                                <li>
                                    <img src="/images/captcha-img.jpg" alt="captcha"><input class="captcha" value="Captcha" type="text">
                                </li>
                                <li>
                                    <input class="login-btn" value="login" type="submit">
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




                @*<p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}