<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <title>@ViewBag.Title - TXO Global</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/txofavicon.ico">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .container {
            padding-left: 0px;
            padding-right: 0px;
        }

        .btn-default {
            background-color:#d8761b;
            color: white;


        }

        .m-sm {
            margin: 7px;
        }
    </style>

</head>
<body>
    
    @*@Html.Partial("_LoginPartial")
    @RenderBody()
        *@
        

    <div id="wrapper">
        <div class="main-section">
            <div class="container">
                <!--Header Start-->
                <div class="header-sec">
                    <div class="header-left"><a href="#"><img src="~/Content/logo.png"></a></div>
                    <div class="header-right">
                        @Html.Partial("_LoginPartial")                                                
                    </div>
                    <div class="clear"></div>
                </div>
                <!--Navigation Start-->
                <div class="navigation-sec">
                    <ul class="reset">
                        <li><a href="#">Home</a></li>
                        <li>@Html.ActionLink("Suppliers", "Index", "Suppliers", routeValues: null, htmlAttributes: new { })</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--Login-start-->
                <div class="inner-banner">
                    <img src="~/Content/contact-bannerimg.jpg">
                    <div class="container">
                        <div class="inner-caption">
                            <h3>@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>
    <!--Footer Copyright Start-->
    <div class="copy-right">
        <div class="container" style="padding:18px 0px 18px 0px; background-color:#626365;">
            <div class="copy-lf">
                <p><img src="../../images/copy-logo.png"> © 2016 <span><strong>TXO Global.</strong></span> All Rights Reserved.
            </div>
          
            <div class="clear"></div>
        </div>
    </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
